In [26]:
    import configparser
    from bson.objectid import ObjectId
    import pandas as pd
    import numpy as np
    import csv
    import pymongo
    import io
    import traceback
    import sys


pid = '5d4421722b3dc03043dead1e'
part_id = '5d4421722b3dc03043dead1e' 

config = configparser.ConfigParser()
config.read('configmsg.ini')
dsh = config['DASH']
MONGO_HOST = dsh['MONGO_HOST']
MONGO_PORT = int(dsh['MONGO_PORT'])
myclient = pymongo.MongoClient(MONGO_HOST,MONGO_PORT,maxPoolSize=10)
mydb = myclient[(dsh['database_name'])]

dash_usr_tbl=mydb[(dsh['dash_users'])]

In [2]:
dfs =[]

In [39]:
        part_emp_tbl=mydb['partner_employees'].find({'partner_id': ObjectId(pid)})
        loanapp_tbl=mydb['loan_applications'].find({'partner_id': ObjectId(pid)})
        user_emp_tbl=mydb['user_employments'].find({'partner_id': ObjectId(pid)})





        part_emp = pd.DataFrame(list(part_emp_tbl))
        loanapp = pd.DataFrame(list(loanapp_tbl))
        user_emp = pd.DataFrame(list(user_emp_tbl))

        part_emp['partner_id'] = part_emp['partner_id'].astype(str)
        user_emp['partner_id'] = user_emp['partner_id'].astype(str)
        loanapp['partner_id'] = loanapp['partner_id'].astype(str)
        loanapp['user_id'] = loanapp['user_id'].astype(str)

        user_emp = (user_emp[['employee_id','user_id','current','employer_name']])
        part_emp = (part_emp[['emp_id','currently_employed','department','name','registered_phone_number','work_location']])
        part_emp= part_emp.rename(columns = {'emp_id':'employee_id'})
        loanapp = loanapp[['user_id','status']]


        df = (pd.merge(user_emp, part_emp, on='employee_id'))

        df['user_id'] = df['user_id'].astype(str)
        df = (pd.merge(loanapp, df, on='user_id'))
        df = df[['name','employee_id','work_location','department','status','currently_employed','registered_phone_number','employer_name']]

        df.columns = ['Name','Emp_id','Curr_City','Department','Status','Currently_Employed','Phone_No','Vendor']
        df['Status'] = df['Status'].map({'CREDIT_DECISION_SUCCESS': 'Active','APPLIED': 'Applied'})

        df['Currently_Employed'] = df['Currently_Employed'].map({True: 'Working',False: 'Not Working'})
        dfs.append(df)

SyntaxError: 'return' outside function (<ipython-input-39-0fa11a8a6d76>, line 35)

In [27]:
def sub_partner_emp(pids):
    dfs=[]
    for pid in pids:

        part_emp_tbl=mydb['partner_employees'].find({'partner_id': ObjectId(pid)})
        loanapp_tbl=mydb['loan_applications'].find({'partner_id': ObjectId(pid)})
        user_emp_tbl=mydb['user_employments'].find({'partner_id': ObjectId(pid)})





        part_emp = pd.DataFrame(list(part_emp_tbl))
        loanapp = pd.DataFrame(list(loanapp_tbl))
        user_emp = pd.DataFrame(list(user_emp_tbl))

        part_emp['partner_id'] = part_emp['partner_id'].astype(str)
        user_emp['partner_id'] = user_emp['partner_id'].astype(str)
        loanapp['partner_id'] = loanapp['partner_id'].astype(str)
        loanapp['user_id'] = loanapp['user_id'].astype(str)

        user_emp = (user_emp[['employee_id','user_id','current','employer_name']])
        part_emp = (part_emp[['emp_id','currently_employed','department','name','registered_phone_number','work_location']])
        part_emp= part_emp.rename(columns = {'emp_id':'employee_id'})
        loanapp = loanapp[['user_id','status']]


        df = (pd.merge(user_emp, part_emp, on='employee_id'))

        df['user_id'] = df['user_id'].astype(str)
        df = (pd.merge(loanapp, df, on='user_id'))
        df = df[['name','employee_id','work_location','department','status','currently_employed','registered_phone_number','employer_name']]

        df.columns = ['Name','Emp_id','Curr_City','Department','Status','Currently_Employed','Phone_No','Vendor']
        df['Status'] = df['Status'].map({'CREDIT_DECISION_SUCCESS': 'Active','APPLIED': 'Applied'})

        df['Currently_Employed'] = df['Currently_Employed'].map({True: 'Working',False: 'Not Working'})
        dfs.append(df)
    return(dfs)

In [29]:
pids = ['5d4421722b3dc03043dead1e']

dfsss =[]
try:
    dfss = []
    dfss.append(sub_partner_emp(pids))
    partners_tbl=mydb['partners'].find({'parent_partner_id': ObjectId('5d4421722b3dc03043dead1e')})
    part = pd.DataFrame(list(partners_tbl))
    pids.append((part['_id'].astype(str)).tolist()) 
    dfss.append(sub_partner_emp(pids[1]))
except Exception:
    print(traceback.format_exc())

In [30]:
dfss

[[                          Name    Emp_id  Curr_City Department  Status  \
  0                     Sushitha      1003  Bengaluru          A  Active
  1                       anisha      1001  Bengaluru          A  Active
  2                       Shabaz  10101010   Banglore          A  Active
  3                        Vikas  11110011   Banglore          A  Active
  4                     Abhilash      1008  Bengaluru          A  Active
  5               Angela Miranda      8711  Bengaluru          A  Active
  6           Katherine Shepherd      4299  Bengaluru          A     NaN
  7                 Alexis Reyes      4050  Bengaluru          A  Active
  8             Jeffrey Ferguson      4042  Bengaluru          A  Active
  9               Timothy Mccann      4368  Bengaluru          A  Active
  10            Jennifer Jimenez      4470  Bengaluru          A  Active
  11        Mrs. Mia Spencer PhD      4516  Bengaluru          A  Active
  12                Maria Maddox      4103  Bengaluru          A  Active
  13                Julie Vaughn      4709  Bengaluru          A  Active
  14              Crystal Sawyer      4360  Bengaluru          A  Active
  15                 Sandra Wang      4195  Bengaluru          A  Active
  16               Michael Allen      4035  Bengaluru          A  Active
  17               Amanda Mullen      4051  Bengaluru          A  Active
  18          Leslie Christensen      4611  Bengaluru          A  Active
  19              Kevin Townsend      4842  Bengaluru          A  Active
  20                 Mason Evans      4444  Bengaluru          A  Active
  21               Tracie Melton      4323  Bengaluru          A  Active
  22                Lauren Brown      4248  Bengaluru          A  Active
  23               Michael Moore      4839  Bengaluru          A  Active
  24                Sara Holland      4959  Bengaluru          A  Active
  25                  Mary Young      4969  Bengaluru          A  Active
  26                  Kara Lynch      4058  Bengaluru          A  Active
  27               Emily Fleming      4646  Bengaluru          A  Active
  28               Thomas Austin      4117  Bengaluru          A  Active
  29              Brianna Hughes      4614  Bengaluru          A  Active
  ...                        ...       ...        ...        ...     ...
  2645            Vincent Pruitt     10313  Bengaluru          A  Active
  2646           Jennifer Medina     13197  Bengaluru          A  Active
  2647         Daniel Williamson     14436  Bengaluru          A  Active
  2648            Michelle Lewis     12898  Bengaluru          A  Active
  2649                Ruben Paul      8725  Bengaluru          A  Active
  2650            Daniel Aguirre     12358  Bengaluru          A  Active
  2651            Robert Lambert     10548  Bengaluru          A  Active
  2652             Sarah Edwards      9008  Bengaluru          A  Active
  2653            Brandon Tucker      7364  Bengaluru          A  Active
  2654           Daniel Campbell     13450  Bengaluru          A  Active
  2655        Jacqueline Aguilar      7577  Bengaluru          A  Active
  2656           Jennifer Turner      7361  Bengaluru          A  Active
  2657      Alexander Williamson      7544  Bengaluru          A  Active
  2658           Tyler Hernandez     10862  Bengaluru          A  Active
  2659          Zachary Odonnell      9620  Bengaluru          A  Active
  2660             Kevin Bonilla      7456  Bengaluru          A  Active
  2661           Ralph Rodriguez      6088  Bengaluru          A  Active
  2662         Nicole Wallace MD      6913  Bengaluru          A  Active
  2663               Carly Davis      8043  Bengaluru          A  Active
  2664              Deanna Owens     14332  Bengaluru          A  Active
  2665               Julie Jones     14123  Bengaluru          A  Active
  2666         Monica Pennington     13039  Bengaluru          A  Active
  2667             Ricky Estrada      6355  Bengaluru          A  Active
  2668  Dr. Nicholas Hawkins PhD      8985  Bengaluru          A  Active
  2669            Sheila Johnson      9390  Bengaluru          A  Active
  2670               Angel Quinn      9375  Bengaluru          A  Active
  2671              Mark Aguilar     12010  Bengaluru          A  Active
  2672           Christine Davis      9872  Bengaluru          A  Active
  2673            Charles Dawson     14450  Bengaluru          A  Active
  2674         Joshua Richardson      8245  Bengaluru          A  Active

       Currently_Employed      Phone_No        Vendor
  0               Working  919945326381  LocalCompany
  1           Not Working  917995603016  LocalCompany
  2               Working  919972115447  LocalCompany
  3               Working  919527119003  LocalCompany
  4               Working  919895774319  LocalCompany
  5               Working  918229238567  LocalCompany
  6               Working  916589146297  LocalCompany
  7               Working  916565421626  LocalCompany
  8               Working  916546524548  LocalCompany
  9               Working  916548793674  LocalCompany
  10              Working  916515630329  LocalCompany
  11              Working  916500941173  LocalCompany
  12              Working  916551861925  LocalCompany
  13              Working  916562294297  LocalCompany
  14              Working  916561006319  LocalCompany
  15              Working  916584996865  LocalCompany
  16              Working  916514422272  LocalCompany
  17              Working  916533652333  LocalCompany
  18              Working  916519742523  LocalCompany
  19              Working  916502818330  LocalCompany
  20              Working  916573950543  LocalCompany
  21              Working  916570819634  LocalCompany
  22              Working  916565618100  LocalCompany
  23              Working  916526435592  LocalCompany
  24              Working  916524553698  LocalCompany
  25              Working  916509771047  LocalCompany
  26              Working  916576176142  LocalCompany
  27              Working  916588656203  LocalCompany
  28              Working  916512746895  LocalCompany
  29              Working  916523404371  LocalCompany
  ...                 ...           ...           ...
  2645            Working  919414297398  LocalCompany
  2646            Working  919885194114  LocalCompany
  2647            Working  916651418499  LocalCompany
  2648            Working  919070163195  LocalCompany
  2649            Working  917729374795  LocalCompany
  2650            Working  919407794277  LocalCompany
  2651            Working  916629933591  LocalCompany
  2652            Working  919190334694  LocalCompany
  2653            Working  917814680997  LocalCompany
  2654            Working  918476238754  LocalCompany
  2655            Working  917492771525  LocalCompany
  2656            Working  919604026006  LocalCompany
  2657            Working  918021656066  LocalCompany
  2658            Working  918830631287  LocalCompany
  2659            Working  918199040710  LocalCompany
  2660            Working  916659023656  LocalCompany
  2661            Working  916733914042  LocalCompany
  2662            Working  916595759815  LocalCompany
  2663            Working  916151017684  LocalCompany
  2664            Working  919654380321  LocalCompany
  2665            Working  916685165974  LocalCompany
  2666            Working  916654727359  LocalCompany
  2667            Working  919778729552  LocalCompany
  2668            Working  919190970119  LocalCompany
  2669            Working  918618072910  LocalCompany
  2670            Working  919854540460  LocalCompany
  2671            Working  919958033275  LocalCompany
  2672            Working  919454482985  LocalCompany
  2673            Working  916980357262  LocalCompany
  2674            Working  916615194199  LocalCompany

  [2675 rows x 8 columns]],
 [                  Name Emp_id  Curr_City Department  Status  \
  0               Sachin   1004  Bengaluru          A  Active
  1  TestingCompanyUser1   2000  Bengaluru          A  Active
  2  TestingCompanyUser1   2000  Bengaluru          A  Active
  3  TestingCompanyUser1   2000  Bengaluru          A  Active

    Currently_Employed      Phone_No          Vendor
  0            Working  918840372022  TestingCompany
  1            Working  919945326001  TestingCompany
  2            Working  919945326001  TestingCompany
  3            Working  919945326001  TestingCompany  ,
                     Name Emp_id  Curr_City Department  Status  \
  0  TestingCompany1User1   3000  Bengaluru          A  Active
  1  TestingCompany1User1   3000  Bengaluru          A  Active
  2  TestingCompany1User1   3000  Bengaluru          A  Active

    Currently_Employed      Phone_No           Vendor
  0            Working  919945327001  TestingCompany1
  1            Working  919945327001  TestingCompany1
  2            Working  919945327001  TestingCompany1  ]]

In [21]:
dfss = (dfss[0]+dfss[1])

In [22]:
df = pd.concat(dfss, ignore_index=True)

In [25]:
df.loc[0:15]

,Name,Emp_id,Curr_City,Department,Status,Currently_Employed,Phone_No,Vendor
0,Sushitha,1003,Bengaluru,A,Active,Working,919945326381,LocalCompany
1,anisha,1001,Bengaluru,A,Active,Not Working,917995603016,LocalCompany
2,Shabaz,10101010,Banglore,A,Active,Working,919972115447,LocalCompany
3,Vikas,11110011,Banglore,A,Active,Working,919527119003,LocalCompany
4,Abhilash,1008,Bengaluru,A,Active,Working,919895774319,LocalCompany
5,Angela Miranda,8711,Bengaluru,A,Active,Working,918229238567,LocalCompany
6,Katherine Shepherd,4299,Bengaluru,A,Active,Working,916589146297,LocalCompany
7,Alexis Reyes,4050,Bengaluru,A,Active,Working,916565421626,LocalCompany
8,Jeffrey Ferguson,4042,Bengaluru,A,Active,Working,916546524548,LocalCompany
9,Timothy Mccann,4368,Bengaluru,A,Active,Working,916548793674,LocalCompany
10,Jennifer Jimenez,4470,Bengaluru,A,Active,Working,916515630329,LocalCompany
11,Mrs. Mia Spencer PhD,4516,Bengaluru,A,Active,Working,916500941173,LocalCompany
12,Maria Maddox,4103,Bengaluru,A,Active,Working,916551861925,LocalCompany
13,Julie Vaughn,4709,Bengaluru,A,Active,Working,916562294297,LocalCompany
14,Crystal Sawyer,4360,Bengaluru,A,Active,Working,916561006319,LocalCompany
15,Sandra Wang,4195,Bengaluru,A,Active,Working,916584996865,LocalCompany

In [43]:
pids = ['5d4421722b3dc03043dead1e']
dfss = []
xx = pd.DataFrame()
try:
#     dfss = []
#     a = sub_partner_emp(pids)
#     print(a)
#     dfss.append(sub_partner_emp(pids))
    print(dfss)
    partners_tbl=mydb['partners'].find({'parent_partner_id': ObjectId('5d4421722b3dc03043dead1e')})
    part = pd.DataFrame(list(partners_tbl))
    pids.append((part['_id'].astype(str)).tolist())
#     print(pids[1])
#     b = sub_partner_emp(pids[1])
#     print(b)
    dfss.append(sub_partner_emp(pids[1]))
#     print()
except Exception:
    print(traceback.format_exc())
finally:
    xx = pd.concat(dfss, ignore_index=True)
#     print(xx)

[]
5d7715a2a89a6353a33e5b52
5d7f6164119a9e72b46071ac

TypeError: cannot concatenate object of type "<type 'list'>"; only pd.Series, pd.DataFrame, and pd.Panel (deprecated) objs are valid

In [23]:
pids[1]

['5d7715a2a89a6353a33e5b52', '5d7f6164119a9e72b46071ac']